.header{
    background-color: orange;
     height: 50px;
}
.cart-div{
    float: right;
    margin:100px;
    /* position: relative; */
}
img{
    height: 50px;
    margin-left: 1200px;
    position: relative;
}
span{
    position: relative;
    left: 1200px;
}